.nav-link {
  font-size: larger;
  font-weight: bolder;
  margin: 5px;
  // transform: skewX(-10deg);
  transition: all 0.1s;
}

.nav-link:hover,
.nav-link.active {
  color: goldenrod;
  font-weight: bolder;
  // transform: skewX(-10deg);
  border-bottom: 3px solid burlywood;
  // border-radius: 5px;
  box-shadow: 0px 1px 0px goldenrod;
}
